<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>video</title>
    <style>

    </style>
</head>
<body>
<video id="myVideo" muted></video>
<script>
    var id, ws, myVideoStream, myVideo,
        startSend = 0,
        sendChunks = []

    id = {{.roomID}}

    window.onload = function () {
        initWebsocket()

        myVideo = document.getElementById('myVideo')

        getMedia()
    }

    function initWebsocket() {
        if ("WebSocket" in window)
        {
            //打开一个 web socket
            ws = new WebSocket("wss://fw.hiwonder.com/roomInit");

            ws.onopen = function() {
                ws.binaryType = "arraybuffer";
                ws.send(id);
                console.log("open");
            };

            ws.onmessage = function (response) {
                console.log(response)
                if (response.type == "message"){
                    var data = JSON.parse(response.data)
                    console.log(data)
                    console.log(id)
                    console.log(id == data.subscribe)
                    if (data.subscribe == id){
                        console.log("fasd")
                        var res ={"status":200,"id":parseInt(data.id)}
                        ws.send(res)
                        startSend = 1
                    }
                }
            };

            ws.onclose = function() {
                alert("连接已关闭...");
            };
        } else {
            alert("您的浏览器不支持 WebSocket!");
        }
    }

    function ab2str(buf) {
        return String.fromCharCode.apply(null, new Uint16Array(buf));
    }

    // 获取本地媒体
    function getMedia() {
        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

        var constr = {audio: true, video: true};
        navigator.getUserMedia(constr, gotUserMedia, didntGetUserMedia);
    }
    function didntGetUserMedia() {
        console.log('cound not get user media')
    }
    function gotUserMedia(stream) {
        myVideoStream = stream
        // 向我显示我的本地视频
        myVideo.srcObject = myVideoStream
        myVideo.play()

        setTimeout(function () {
            mediaSend(stream)
        },200)
    }

    function mediaSend(strea){
        var mediaRecorder = new MediaRecorder(strea);

        mediaRecorder.start(10);
        mediaRecorder.ondataavailable = function(e) {
            var reader = new FileReader();
            reader.addEventListener("loadend", function() {
                var buf = new Uint8Array(reader.result);
                sendChunks.push(buf)
                if (sendChunks.length >= 10 && startSend == 1){
                    ws.send(buf);
                    sendChunks = []
                }
            });
            reader.readAsArrayBuffer(e.data);
        };

        mediaRecorder.onerror = function(e){
            console.log('Error: ');
            console.log(e);
        };


        mediaRecorder.onstart = function(){
            console.log('Started & state = ' + mediaRecorder.state);
        };
    }

</script>
</body>
</html>