<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>video</title>
    <style>
        #yourVideo{
            position: absolute;
            right: 0px;
            top: 20px;
        }
    </style>
</head>
<body>
<button onclick="ss()">peng</button>
<video src="" id="myVideo" muted></video>
<video src="" id="mVideo" muted>

</video>
<video id="yourVideo" muted></video>

<script>
    var id, pc, ws, ws1,
        weWaited = false,
        myVideoStream, myVideo,
        yourVideoStream, yourVideo,
        doNothing = function () { },
        constraints = {
            mandatory: {
                OfferToReceiveAudio: true,
                OfferToReceiveVideo: true
            }
        }

    var recordedChunks = [];
    id = {{.id}}
    function handleMsg(recontent){
        if (recontent.type == "offer") {
            console.log("rece offer")
            pc.setRemoteDescription(new RTCSessionDescription(recontent))
            answer()
        } else if (recontent.type === "answer") {
            console.log("rece answer")
            pc.setRemoteDescription(new RTCSessionDescription(recontent))
        } else if (recontent.type === "candidate") {
            console.log("rece candidate")
            pc.addIceCandidate(new RTCIceCandidate({
                sdpMLineIndex: recontent.mlineindex,
                candidate: recontent.candidate
            }))
        }
    }

    function initWebsocket() {
        if ("WebSocket" in window)
        {
            //打开一个 web socket
            // ws = new WebSocket("wss://fw.hiwonder.com/ws");
            //
            // ws.onopen = function()
            // {
            //     // Web Socket 已连接上，使用 send() 方法发送数据
            //     console.log(id)
            //     ws.send(id);
            //     console.log("open");
            // };
            //
            // ws.onmessage = function (evt)
            // {
            //     // var received_msg = evt.data;
            //     //
            //     // var msg = JSON.parse(received_msg);
            //     // var recontent = JSON.parse(msg.content)
            //     // console.log("recive msg")
            //     console.log(evt.data)
            //     // if (pc){
            //     //     handleMsg(recontent)
            //     // }else{
            //     //     setTimeout(function () {
            //     //         handleMsg(recontent)
            //     //     },1000)
            //     // }
            // };
            //
            // ws.onclose = function()
            // {
            //     // 关闭 websocket
            //     alert("连接已关闭...");
            // };



        }

        else
        {
            // 浏览器不支持 WebSocket
            alert("您的浏览器不支持 WebSocket!");
        }

        // 打开一个 web socket
        ws1 = new WebSocket("wss://fw.hiwonder.com/ws");

        ws1.onopen = function()
        {

            // Web Socket 已连接上，使用 send() 方法发送数据
            ws1.binaryType = "arraybuffer";
            ws.send(id);
            console.log("open");
        };

        ws1.onmessage = function (evt)
        {

            // var buf = new Uint8Array(evt.data);
            recordedChunks.push(evt.data);
        };

        ws1.onclose = function()
        {
            // 关闭 websocket
            alert("连接已关闭...");
        };
    }

    // 获取本地媒体
    function getMedia() {
        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

        var constr = {audio: false, video: true};
        navigator.getUserMedia(constr, gotUserMedia, didntGetUserMedia);
    }
    function didntGetUserMedia() {
        console.log('cound not get user media')
    }
    function gotUserMedia(stream) {
        console.log("getmedia")
        myVideoStream = stream
        // 向我显示我的本地视频
        myVideo.srcObject = myVideoStream
        myVideo.play()
        setTimeout(function () {
            re(stream)
        },200)
        // 等待pc创建完毕
        // attachMedia()
    }

    // 自动开始获取本地媒体
    window.onload = function () {
        initWebsocket()
        // setTimeout(function () {
        //     initPeer()
        // },500)

        myVideo = document.getElementById('myVideo')
        yourVideo = document.getElementById('yourVideo')

        // myVideo.src = URL.createObjectURL(mediaSource)
        getMedia()
    }

    function initPeer(){
        var iceServer = {
            "iceServers": [{
                "url": "turn:fw.hiwonder.com:3478",
                "credential":"123456",
                "username":"admin"
            }]
        };
        pc = new RTCPeerConnection(iceServer);

        pc.onicecandidate = onIceCandidate
        pc.onaddstream = onRemoteStreamAdded
        pc.onremovestream = onRemoteStreamRemoved
        pc.onconnectionstatechange = onConnectStateChange
        console.log("initpeer")
        attachMedia()
    }

    // 如果当前浏览器有另一个候选项，将其发送给对等端
    function onIceCandidate(e) {
        if (e.candidate) {
            var content = {
                type: 'candidate',
                mlineindex: e.candidate.sdpMLineIndex,
                candidate: e.candidate.candidate
            }
            var to = "1"
            var from = "2"
            if (id == 1){
                to = "2"
                from = "1"
            }
            var msg ={"from":from,"time":"11:39","type":1,'to':to,'content':JSON.stringify(content)}

            ws.send(JSON.stringify(msg));
        }

    }

    function onConnectStateChange(e) {
        switch(pc.connectionState) {
            case "connected":
                console.log("connected")
                break;
            case "disconnected":
                console.log("dconnected")
            case "failed":
                console.log("fail")
                break;
            case "closed":
                console.log("closed")
                break;
        }
    }

    function re(strea){
        var mediaRecorder = new MediaRecorder(strea);

        mediaRecorder.start(10);
        mediaRecorder.ondataavailable = function(e) {
            var reader = new FileReader();
            reader.addEventListener("loadend", function() {
                //reader.result是一个含有视频数据流的Blob对象
                var buf = new Uint8Array(reader.result);
                       //加这个判断，是因为有很多数据是空的，这个没有必要发到后台服务器，减轻网络开销，提升性能吧。
                ws1.send(buf);
            });
            console.log(e.data)
            reader.readAsArrayBuffer(e.data);
        };

        mediaRecorder.onerror = function(e){
            console.log('Error: ');
            console.log(e);
        };


        mediaRecorder.onstart = function(){
            console.log('Started & state = ' + mediaRecorder.state);
        };
    }

    // 如果我们浏览器检测到另一端加入了媒体流，则将其显示在屏幕上
    function onRemoteStreamAdded(e) {
        yourVideoStream = e.stream

        // setTimeout(function () {
        //     re(e.stream)
        // },200)

        console.log('yourVideo: ', yourVideo)
        yourVideo.srcObject = yourVideoStream
        yourVideo.play()
    }

    // 远端移除流，这里不做操作
    function onRemoteStreamRemoved(e) {
        console.log("remove")
    }

    // 将本地流添加至对等连接
    function attachMedia() {
        if (myVideoStream){
            pc.addStream(myVideoStream)
        }
        console.log("addstream")
        call()
    }

    // 生成一个offer
    function call() {
        pc.createOffer(gotDescription, doNothing, constraints)
    }

    // 应答会话描述，生成answer
    function answer() {
        pc.createAnswer(gotDescription, doNothing, constraints)
    }

    // 一旦获取到了会话描述，就将其作为本地描述，然后将其发送至另一端的浏览器
    function gotDescription(localDesc) {
        pc.setLocalDescription(localDesc)
        var to = "1"
        var from = "2"
        if (id == 1){
            to = "2"
            from = "1"
        }
        var msg ={"from":from,"time":"11:39","type":1,'to':to,'content':JSON.stringify(localDesc)}
        ws.send(JSON.stringify(msg));
        console.log("gotDescription")
    }

    var mVideo = document.getElementById('mVideo')

    function ss(){

        var blob = new Blob(recordedChunks, {
            type: "video/webm"
        });
        console.log(blob)
        var url = URL.createObjectURL(blob);
        mVideo.srcObject = url
        mVideo.play()
    }
</script>
</body>
</html>