<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>video</title>
    <style>

    </style>
</head>
<body>
<button onclick="ss()">peng</button>
<video src="" autoplay muted crossOrigin="anonymous"></video>
<script>

    var sourceBuffer
    var video = document.querySelector('video');
    var assetURL = 'http://192.168.11.7:8080/1.mp4';
    // Need to be specific for Blink regarding codecs
    // ./mp4info frag_bunny.mp4 | grep Codec
    var mimeCodec = 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"';

    if ('MediaSource' in window && MediaSource.isTypeSupported(mimeCodec)) {
        var mediaSource = new MediaSource();
        //console.log(mediaSource.readyState); // closed
        video.src = URL.createObjectURL(mediaSource);
        mediaSource.addEventListener('sourceopen', sourceOpen);
    } else {
        console.error('Unsupported MIME type or codec: ', mimeCodec);
    }

    // 获取本地媒体
    function getMedia() {
        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

        var constr = {audio: false, video: true};
        navigator.getUserMedia(constr, gotUserMedia, didntGetUserMedia);
    }
    function didntGetUserMedia() {
        console.log('cound not get user media')
    }


    function re(strea){
        var mediaRecorder = new MediaRecorder(strea);

        mediaRecorder.start(10);
        mediaRecorder.ondataavailable = function(e) {
            var reader = new FileReader();
            reader.addEventListener("loadend", function() {
                //reader.result是一个含有视频数据流的Blob对象
                var buf = new Uint8Array(reader.result);
                console.log(reader.result);
                if(reader.result.byteLength > 0){        //加这个判断，是因为有很多数据是空的，这个没有必要发到后台服务器，减轻网络开销，提升性能吧。
                    sourceBuffer.appendBuffer(buf);
                }
            });
            reader.readAsArrayBuffer(e.data);
        };

        mediaRecorder.onerror = function(e){
            console.log('Error: ');
            console.log(e);
        };


        mediaRecorder.onstart = function(){
            console.log('Started & state = ' + mediaRecorder.state);
        };
    }

    function gotUserMedia(stream) {
        console.log(stream)
        re(stream)
    }

    // 自动开始获取本地媒体
    window.onload = function () {
        setTimeout(function () {
            getMedia()
        },200)
    }

    function ss(){
        video.play()
    }
    function sourceOpen () {
        console.log("open"); // open
        var mediaSource = this;

        sourceBuffer = mediaSource.addSourceBuffer(mimeCodec);
        // fetchAB(assetURL, function (buf) {
        //
        //     sourceBuffer.addEventListener('updateend', function () {
        //         mediaSource.endOfStream();
        //     });
        //     sourceBuffer.appendBuffer(buf);
        // });
        // sourceBuffer.appendBuffer(buf);
    };

    function fetchAB (url, cb) {
        console.log(url);
        var xhr = new XMLHttpRequest;
        xhr.open('get', url);
        xhr.responseType = 'arraybuffer';
        xhr.onload = function () {
            cb(xhr.response);
        };
        xhr.send();
    };
</script>
</body>
</html>