<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>video</title>
    <style>

    </style>
</head>
<body>
<button onclick="ss()">peng</button>
<video id="myVideo" src="" muted></video>
<script>
    var mvideo = document.getElementById('myVideo')
    var recordedChunks = [];
    // 获取本地媒体
    function getMedia() {
        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

        var constr = {audio: false, video: true};
        navigator.getUserMedia(constr, gotUserMedia, didntGetUserMedia);
    }
    function didntGetUserMedia() {
        console.log('cound not get user media')
    }


    function re(strea){
        var mediaRecorder = new MediaRecorder(strea);
        mediaRecorder.start(10);
        mediaRecorder.ondataavailable = function(e) {
            var reader = new FileReader();
            reader.addEventListener("loadend", function() {
                //reader.result是一个含有视频数据流的Blob对象
                var buf = new Uint8Array(reader.result);
                console.log(buf)
                recordedChunks.push(buf);
            });
            // recordedChunks.push(e.data);
            console.log(e.data)
            reader.readAsArrayBuffer(e.data);
        };

        mediaRecorder.onerror = function(e){
            console.log('Error: ');
        };


        mediaRecorder.onstart = function(){
            console.log('Started & state = ' + mediaRecorder.state);
        };
    }

    function gotUserMedia(stream) {
        console.log(stream)
        re(stream)
    }

    // 自动开始获取本地媒体
    window.onload = function () {
        getMedia()
    }

    function ss(){
        var blob = new Blob(recordedChunks, {
            type: "video/webm"
        });
        var url = URL.createObjectURL(blob);
        mvideo.src = url
        mvideo.play()
    }

</script>
</body>
</html>