<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>video</title>
    <style>
        #yourVideo{
            position: absolute;
            right: 0px;
            top: 20px;
        }
    </style>
</head>
<body>
<div>peng</div>
<video id="myVideo">a</video>
<video id="yourVideo" muted>a</video>

<script>
    var id, pc, ws,
        weWaited = false,
        myVideoStream, myVideo,
        yourVideoStream, yourVideo,
        doNothing = function () { },
        constraints = {
            mandatory: {
                OfferToReceiveAudio: true,
                OfferToReceiveVideo: true
            }
        }
    id = {{.id}}
    function handleMsg(recontent){
        if (recontent.type == "offer") {
            console.log("rece offer")
            pc.setRemoteDescription(new RTCSessionDescription(recontent))
            answer()
        } else if (recontent.type === "answer") {
            console.log("rece answer")
            pc.setRemoteDescription(new RTCSessionDescription(recontent))
        } else if (recontent.type === "candidate") {
            console.log("rece candidate")
            pc.addIceCandidate(new RTCIceCandidate({
                sdpMLineIndex: recontent.mlineindex,
                candidate: recontent.candidate
            }))
        }
    }

    function initWebsocket() {
        if ("WebSocket" in window)
        {
            // 打开一个 web socket
            ws = new WebSocket("wss://fw.hiwonder.com/ws");

            ws.onopen = function()
            {
                // Web Socket 已连接上，使用 send() 方法发送数据
                console.log(id)
                ws.send(id);
                console.log("open");
            };

            ws.onmessage = function (evt)
            {
                var received_msg = evt.data;

                var msg = JSON.parse(received_msg);
                var recontent = JSON.parse(msg.content)
                console.log("recive msg")
                console.log(recontent)
                if (pc){
                    handleMsg(recontent)
                }else{
                    setTimeout(function () {
                        handleMsg(recontent)
                    },500)
                }

            };

            ws.onclose = function()
            {
                // 关闭 websocket
                alert("连接已关闭...");
            };
        }

        else
        {
            // 浏览器不支持 WebSocket
            alert("您的浏览器不支持 WebSocket!");
        }
    }

    // 获取本地媒体
    function getMedia() {
        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

        var constr = {audio: false, video: true};
        navigator.getUserMedia(constr, gotUserMedia, didntGetUserMedia);
    }
    function didntGetUserMedia() {
        console.log('cound not get user media')
    }
    function gotUserMedia(stream) {
        console.log("getmedia")
        myVideoStream = stream
        // 向我显示我的本地视频
        myVideo.srcObject = myVideoStream
        myVideo.play()
        // 等待pc创建完毕
        attachMedia()
    }

    // 自动开始获取本地媒体
    window.onload = function () {
        initWebsocket()
        setTimeout(function () {
            initPeer()
        },500)

        myVideo = document.getElementById('myVideo')
        yourVideo = document.getElementById('yourVideo')
        getMedia()
    }

    function initPeer(){
        var iceServer = {
            "iceServers": [{
                "url": "turn:fw.hiwonder.com:3478",
                "credential":"123456",
                "username":"admin"
            }]
        };
        pc = new RTCPeerConnection(iceServer);

        pc.onicecandidate = onIceCandidate
        pc.onaddstream = onRemoteStreamAdded
        pc.onremovestream = onRemoteStreamRemoved

        console.log("initpeer")
        attachMedia()
    }

    // 如果当前浏览器有另一个候选项，将其发送给对等端
    function onIceCandidate(e) {
        if (e.candidate) {
            var content = {
                type: 'candidate',
                mlineindex: e.candidate.sdpMLineIndex,
                candidate: e.candidate.candidate
            }
            var to = "1"
            var from = "2"
            if (id == 1){
                to = "2"
                from = "1"
            }
            var msg ={"from":from,"time":"11:39","type":1,'to':to,'content':JSON.stringify(content)}

            ws.send(JSON.stringify(msg));
        }

    }

    // 如果我们浏览器检测到另一端加入了媒体流，则将其显示在屏幕上
    function onRemoteStreamAdded(e) {
        yourVideoStream = e.stream
        console.log('yourVideo: ', yourVideo)
        yourVideo.srcObject = yourVideoStream
        yourVideo.play()
    }

    // 远端移除流，这里不做操作
    function onRemoteStreamRemoved(e) {
        console.log("remove")
        pc.Close()
    }

    // 将本地流添加至对等连接
    function attachMedia() {
        if (myVideoStream){
            pc.addStream(myVideoStream)
        }
        console.log("addstream")
        call()
    }

    // 生成一个offer
    function call() {
        pc.createOffer(gotDescription, doNothing, constraints)
    }

    // 应答会话描述，生成answer
    function answer() {
        pc.createAnswer(gotDescription, doNothing, constraints)
    }

    // 一旦获取到了会话描述，就将其作为本地描述，然后将其发送至另一端的浏览器
    function gotDescription(localDesc) {
        pc.setLocalDescription(localDesc)
        var to = "1"
        var from = "2"
        if (id == 1){
            to = "2"
            from = "1"
        }
        var msg ={"from":from,"time":"11:39","type":1,'to':to,'content':JSON.stringify(localDesc)}
        ws.send(JSON.stringify(msg));
        console.log("gotDescription")
    }

</script>
</body>
</html>