<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>video</title>
    <style>

    </style>
</head>
<body>
<video src="" muted></video>
<script>
    // 获取本地媒体
    function getMedia() {
        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

        var constr = {audio: false, video: true};
        navigator.getUserMedia(constr, gotUserMedia, didntGetUserMedia);
    }
    function didntGetUserMedia() {
        console.log('cound not get user media')
    }


    function re(strea){
        var mediaRecorder = new MediaRecorder(strea);
        console.log("a")
        mediaRecorder.start(10);
        mediaRecorder.ondataavailable = function(e) {
            console.log("vail")
            var reader = new FileReader();
            reader.addEventListener("loadend", function() {
                //reader.result是一个含有视频数据流的Blob对象
                var buf = new Uint8Array(reader.result);
                console.log("bufl")
                console.log(buf)
            });

            console.log(e.data)
            reader.readAsArrayBuffer(e.data);
        };

        mediaRecorder.onerror = function(e){
            console.log('Error: ');
        };


        mediaRecorder.onstart = function(){
            console.log('Started & state = ' + mediaRecorder.state);
        };
    }

    function gotUserMedia(stream) {
        console.log(stream)
        re(stream)
    }

    // 自动开始获取本地媒体
    window.onload = function () {
        getMedia()
    }

    function ss(){
        video.play()
    }

</script>
</body>
</html>